{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "import/no-unused-modules": true,
  "overrides": [
    {
      "files": "export.+(ts|tsx)",
      "options": {
        "printWidth": 140
      }
    }
  ]
}