{
  "extends": "stylelint-config-standard",
  "customSyntax": "postcss-less",
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "color-function-notation": "legacy",
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null,
    "property-no-vendor-prefix": null
  }
}